# ──────────────────────────────────────────────
# Файл: .env.local
# Что это: секретные ключи проекта (не публиковать в git!)
# Где взять: supabase.com → твой проект → Settings → API
# ──────────────────────────────────────────────

NEXT_PUBLIC_SUPABASE_URL=https://puixkplqftuxjfnstaug.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1aXhrcGxxZnR1eGpmbnN0YXVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNDA4MjgsImV4cCI6MjA5NTcxNjgyOH0.jTqPUYdYjCmjN89-NICwcQ2HdXfKoq3AeuaPq77CNiQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1aXhrcGxxZnR1eGpmbnN0YXVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE0MDgyOCwiZXhwIjoyMDk1NzE2ODI4fQ.0Kdmjrs3b-A0YkEXAe4T24RuAzrMPeogvaWgkb75-cE
